{{- if .Values.components.secret.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.components.secret.name }}
  namespace: {{ include "clara-train.namespace" . }}
  labels:
    {{- include "clara-train.labels" . | nindent 4 }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ printf "{\"auths\":{\"nvcr.io\":{\"username\":\"$oauthtoken\",\"password\":\"%s\",\"email\":\"%s\",\"auth\":\"%s\"}}}" .Values.ngcApiKey .Values.components.secret.email (printf "$oauthtoken:%s" .Values.ngcApiKey | b64enc) | b64enc }}
{{- end }}
